In [1]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [2]:
# from google.colab import files
# files.upload()

# Service Disruption

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [4]:
train = pd.read_csv('train.csv')
evn = pd.read_csv('event_type.csv')
log = pd.read_csv('log_feature.csv')
res = pd.read_csv('resource_type.csv')
sev = pd.read_csv('severity_type.csv')

## EDA - Exploratory Data Analysis

In [5]:
train.shape, evn.shape, log.shape, res.shape, sev.shape

((7381, 3), (31170, 2), (58671, 3), (21076, 2), (18552, 2))

In [6]:
train.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [7]:
evn.head()

     id     event_type
0  6597  event_type 11
1  8011  event_type 15
2  2597  event_type 15
3  5022  event_type 15
4  5022  event_type 11

In [8]:
log.head()

     id  log_feature  volume
0  6597   feature 68       6
1  8011   feature 68       7
2  2597   feature 68       1
3  5022  feature 172       2
4  5022   feature 56       1

In [9]:
res.head()

     id    resource_type
0  6597  resource_type 8
1  8011  resource_type 8
2  2597  resource_type 8
3  5022  resource_type 8
4  6852  resource_type 8

In [10]:
sev.head()

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2
3  5022  severity_type 1
4  6852  severity_type 1

In [11]:
Train = train.merge(sev, how = "left", left_on = "id", right_on = "id")
Train = Train.merge(evn, how = "left", left_on = "id", right_on = "id")
Train = Train.merge(log, how = "left", left_on = "id", right_on = "id")
Train = Train.merge(res, how = "left", left_on = "id", right_on = "id")

In [12]:
Train.head()

,id,location,fault_severity,severity_type,event_type,log_feature,volume,resource_type
0,14121,location 118,1,severity_type 2,event_type 34,feature 312,19,resource_type 2
1,14121,location 118,1,severity_type 2,event_type 34,feature 232,19,resource_type 2
2,14121,location 118,1,severity_type 2,event_type 35,feature 312,19,resource_type 2
3,14121,location 118,1,severity_type 2,event_type 35,feature 232,19,resource_type 2
4,9320,location 91,0,severity_type 2,event_type 34,feature 315,200,resource_type 2

In [13]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61839 entries, 0 to 61838
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              61839 non-null  int64
 1   location        61839 non-null  object
 2   fault_severity  61839 non-null  int64
 3   severity_type   61839 non-null  object
 4   event_type      61839 non-null  object
 5   log_feature     61839 non-null  object
 6   volume          61839 non-null  int64
 7   resource_type   61839 non-null  object
dtypes: int64(3), object(5)
memory usage: 4.2+ MB

In [14]:
Train.shape

(61839, 8)

In [15]:
Train.describe()

                 id  fault_severity        volume
count  61839.000000    61839.000000  61839.000000
mean    9104.379469        0.549168      8.390336
std     5387.274195        0.727701     22.902491
min        1.000000        0.000000      1.000000
25%     4353.000000        0.000000      1.000000
50%     8981.000000        0.000000      2.000000
75%    13664.000000        1.000000      6.000000
max    18550.000000        2.000000    877.000000

## Data Preparation

In [16]:
Train.drop_duplicates(subset = "id", keep = "first", inplace = True)

In [17]:
Train.head()

,id,location,fault_severity,severity_type,event_type,log_feature,volume,resource_type
0,14121,location 118,1,severity_type 2,event_type 34,feature 312,19,resource_type 2
4,9320,location 91,0,severity_type 2,event_type 34,feature 315,200,resource_type 2
8,14394,location 152,1,severity_type 2,event_type 35,feature 221,1,resource_type 2
12,8218,location 931,1,severity_type 1,event_type 15,feature 80,9,resource_type 8
18,14804,location 120,0,severity_type 1,event_type 34,feature 134,1,resource_type 2

In [18]:
# df['Year_Job'] = df['Years in current job'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
liste = list(Train)
print(liste)
for i in Train:
    Train[i] = Train[i].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

['id', 'location', 'fault_severity', 'severity_type', 'event_type', 'log_feature', 'volume', 'resource_type']

In [19]:
Train.head()

,id,location,fault_severity,severity_type,event_type,log_feature,volume,resource_type
0,14121,118,1,2,34,312,19,2
4,9320,91,0,2,34,315,200,2
8,14394,152,1,2,35,221,1,2
12,8218,931,1,1,15,80,9,8
18,14804,120,0,1,34,134,1,2

In [20]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7381 entries, 0 to 61836
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              7381 non-null   int32
 1   location        7381 non-null   int32
 2   fault_severity  7381 non-null   int32
 3   severity_type   7381 non-null   int32
 4   event_type      7381 non-null   int32
 5   log_feature     7381 non-null   int32
 6   volume          7381 non-null   int32
 7   resource_type   7381 non-null   int32
dtypes: int32(8)
memory usage: 288.3 KB

In [21]:
Train["log_feature"].unique()

array([312, 315, 221,  80, 134, 171, 374, 235,  71, 136,  68, 167, 232,
        82, 163, 378, 202,  73,  54, 170, 193, 201, 203,  55, 195,  74,
        76, 291, 306, 375, 307, 290,  81, 313, 360, 101, 223, 181, 283,
       117,  77, 234,  75, 233, 301, 219, 345, 309, 273, 376, 209, 314,
        56,  51, 206, 158, 196,  83,  42, 109, 135, 204,  87, 207,  70,
        18, 191, 227, 228, 178,  65, 217, 161, 368,  44,  66, 230, 211,
       229, 188, 160, 172, 308, 305, 220, 239, 349, 198, 285, 369, 244,
       310,  26, 108,  62,  41,  85, 154, 205,  52, 144, 362, 182, 118,
        15, 284,  27,  47, 141, 276,  63, 354, 289,  40, 197, 169, 280,
       302, 317,  11, 218, 111, 365,  84, 137, 318, 316, 133,  94, 179,
       222,  39, 165, 183, 359,  90, 293,  53,  37, 131, 153,   1, 330,
        61, 240,  99,  86, 267, 159, 156,   2, 303,  78, 328, 370,  30,
       115, 384, 353,  45, 157,  10, 311,  64,  95, 168, 155, 277, 103,
       150, 237,  29,  69,   8, 200,  25, 187, 279, 149, 292,  60, 238,
       348, 288,  79,  35, 215,  50, 174, 361, 245, 225, 107, 127, 212,
       105, 186, 104, 162, 268,  20, 122, 357, 106, 304, 176, 190, 254,
       297, 366, 132,  49,  46, 377, 319, 236, 152, 114, 224, 145, 166,
       231,  22])

In [22]:
Train["location"].unique()

array([ 118,   91,  152,  931,  120,  664,  640,  122,  263,  613,  760,
        519,  746, 1066,  812,  343,  133,  976,  948,  808,  894,  875,
       1024,  166,  687, 1016,  707,  978,  775,  829,  732,  508,  257,
        116,  830,  491,  253,  740,  704, 1089,  653,  600,  892,  802,
        794,  477,  684,  895,  496,  321, 1107, 1086, 1099,  975, 1019,
        342,  744,  181, 1052,  696, 1008,  798,  777,   95,  699,  272,
        846,  795,  826,  112,  778,  810,  690,  494, 1095,  445,  478,
        661,  380,  242, 1082, 1007,  131,  980,  373,  169,  421,  779,
         59,  648,  124,    7,   12, 1026,  270, 1106, 1090,  522,  836,
        145, 1020,  804, 1055,  157,  893,  457,   99,  839,  719,  793,
       1109,  957,  665,  646,  302,  273,    1,  476,  734, 1076,  520,
       1046,  803,  963,  821, 1061,  714,  300,  611,  724,  173,  943,
        733,  249,  408,  723,  255,  655,  888,  989, 1015,  692,  945,
        651,  763,  416,  497,  890,  849,  208,  139,  914,  326,  937,
        506,  149,  865,  925,  243,  193,  471,  375, 1047,  490, 1051,
        896, 1011,  834,   97,  226,  962,  885,  816,  638,  468, 1122,
       1098,  376,  303,  126,  507,  709,  466, 1102,  998,  727,   76,
        309,  737, 1111,  314, 1023,  658,  990,  618,  758,  488,  643,
        607,  141,  332,  814,  921,  742,  897,  240,  691,  809,  549,
        266, 1010, 1094,  345,  501,  939,  823,  244,  857, 1065,  906,
        404, 1117,  461, 1056,  995,  500,  100,  311,  390,  756,   90,
        479, 1025,  473,  161, 1029,  711, 1054,  974, 1115,  867,  686,
        899,  202,  923,  771,  485,  919, 1009,  973,  504, 1058, 1084,
        234,  418,  107,  878,  444,  599,  155,  717,  991, 1042,   35,
        465,  499,  597,  101,  864,  845,  695,  738, 1063,  407,  984,
        641,  644,  276, 1075,  252, 1083,  972, 1048, 1100,  324,  847,
        484,  230,    9, 1049,  229,  322,  148,   57,  462,  790,  662,
        679,  533,   51, 1125,  135,  297,  498,  526,  603,  619,  805,
        159,  108,  765,  609,  584,  455,  856, 1093,  154,  102,  493,
        891,  278,  130,  398,  754,  926,  681,   62,  442,  807,  282,
        337,  822,  495, 1050,  236,  934,  534,  420,  645,   13,  700,
        400,  128,  983,  682,  918,  964,  288,  175,  328,  147,  518,
        879, 1037,  262,  296,  999,  767,  721,  546,  171,  281, 1103,
        469, 1119,  344,  876,  635, 1014, 1104,  480,  627,  298,  755,
        642,  363,  451,  735,  800,  902,  968,  944,  505,   26,  369,
       1031,  903,  459,  979,  335,  115,  379, 1072, 1030,  819, 1038,
       1044,  837, 1096,   49,  848, 1034,  745,  206,  930,  446,  475,
        467, 1022,  292,  448,  460,   46,  938,  601,  884, 1118,  307,
        942,  489,  509,  863,  441,  932,  280,   88, 1000,  333,  782,
        712, 1120,  946, 1005,  301, 1018,  558,  409,  349,  470,  358,
        951,   68,  596,  415,   44, 1078,  674,  673,  774,  378,  104,
        936,   34,  463,  818,  786,  693,  909,  967,  515,  151,  994,
        481,    8,  256,  881,  140,  267, 1080,  424,  844,  710,  628,
        768,  277,  325,  977,  842, 1032, 1067,  838,  860,  949,  239,
        827,  912,  851,  137,  573,  924,  866,  313,  123,  667,   22,
        532,  706,  382,  381, 1053,  916,   83,   67,  283,  886, 1045,
         20, 1079,  624,  853,  722,  535,  305,  374,  820,  563,  560,
        385,  251,   89, 1036,  114,   56,  450,   72,  955,  889,  197,
        748,    3,    2,  248,  350,  512,  371, 1041,  474,  403,  247,
        825,  167,  616,   81,  436,  211,  228,  365,  764,  223,  284,
       1087,  163,   36,  566,  652,  622,  472,  360,  981, 1021,  127,
        759,  287,  632,  904, 1064,  268,  245,   92, 1097,  869,  576,
        817, 1081,  235,  762,  602,  413,   23,  103,  384,  588, 1017,
       1062, 1091,   17,  702,  880,   93,  406,  578,  447,  106,  347,
         16,   78,  649,  125,  362,  182,  330,  264,  395,  172,  290,
        188,  195,  961,  659,   73,  969,  663,  218,   19,  773, 1092,
         27,  871,  523,  672,  769, 1069,  579,  797,  657,   32,  353,
        783,  410,  615,  286,  110,  557,  788,  757,  388,  666,  260,
        204,  583,  318,   79,  437, 1112, 1121,  323,  179,  405,  435,
        426,  697,  604, 1033,  877,  527,  941,   74,  933,  521,  544,
        726,  259,  528,  731,   39,  136,   30,  210,  213,  274, 1070,
        529,  850,  806,  246,  221,  425,  299,  996,  440,  483,  399,
        232,  285,  741,  184,  414, 1006,  392,  367,  320,  831,  429,
        950,  258,  352, 1113,   37,  294,  789,  592,  165,   38,  162,
        883, 1060,  389,  432,  453,  559,  680,  143, 1116,  705,   33,
        555,  170,   15,  736,  540,  241,  334,  430,  715,  516,  354,
        511,  231,  198,  813,  119,  589,  393, 1035,  419,  443,  117,
       1088,  785,  716,  617, 1108,  177,  113,  882,  543, 1126,  144,
        874,  610,  550,  423,  772,  417,  531, 1105,   47,  394,  841,
        541,   10,  637,  536,  346,   82,  922,  189,  537,  799,  146,
         50,  887,  959,  153,  237,  811, 1074,  694,  547,  331,  304,
        514, 1073,  562,  840,  670,  254,  766,  310,  953,  338,  356,
        348,  402,  629, 1027,  222,  250,  815,  357,  855,  289,  156,
        427,  752, 1101,  317,  792,   45,  396,  928,  551,  194,  315,
        621,  608,  336,  654,  713,  158,  525,  870, 1110,  183,  548,
         65,  556,  872,  577,  359,    4,  570,   63,  386,  401,  971,
        587,  312,  205, 1059,  660,  854,  966,    5,  614,  960,  565,
        150,  524,  595,  200,  186,  582,  269,  987,  675,  339,  355,
        238,  434,  639,  439,  196,  708,  190,  901,  503,  215,   86,
        929,  917,  464,  671,   14,  633,  796,  214,  625,    6,  898,
         87,  852, 1013,  956, 1071, 1077,  678,  370,  224, 1068,  180,
        958,  824, 1002,  487,  492,  271,  905,  911,  225,  718,   60,
        683,  676,  568,  915,  668,   84,  291,  530,  538,   21,  203,
         53,  187,  293,  319,  564,  623,  859,  199,  391,  835,  329,
        947,  220,   85,   18,  561])

In [23]:
Train["event_type"].unique()

array([34, 35, 15, 11, 50, 54, 44, 20, 42, 23, 14, 10, 13, 22, 18, 43, 21,
       29, 40, 39, 24, 32, 47, 46,  2, 27,  9,  5, 26, 45,  7,  8, 38, 30,
        6, 28,  3, 31, 51, 12, 49, 48, 36, 25, 53])

In [24]:
Train["resource_type"].unique()

array([ 2,  8,  7,  4,  6,  9,  1,  3, 10,  5])

In [25]:
liste = ["log_feature","location"]
for i in liste:
    Train[i] = Train[i].astype("category")

In [26]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7381 entries, 0 to 61836
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              7381 non-null   int32
 1   location        7381 non-null   category
 2   fault_severity  7381 non-null   int32
 3   severity_type   7381 non-null   int32
 4   event_type      7381 non-null   int32
 5   log_feature     7381 non-null   category
 6   volume          7381 non-null   int32
 7   resource_type   7381 non-null   int32
dtypes: category(2), int32(6)
memory usage: 308.9 KB

## Modeling

In [27]:
df_dummies = pd.get_dummies(Train,drop_first = True)
df_dummies.shape

(7381, 1156)

In [28]:
x = df_dummies.drop(["id","fault_severity"], axis = 1)

In [29]:
y = Train["fault_severity"]

In [30]:
x.shape, y.shape

((7381, 1154), (7381,))

In [31]:
def classification(x,y):
    from sklearn.naive_bayes import GaussianNB
    from sklearn.naive_bayes import BernoulliNB
    from sklearn.svm import SVC
    from sklearn.neighbors import KNeighborsClassifier
    from sklearn.tree import DecisionTreeClassifier
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.linear_model import LogisticRegression
    
    from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
    from sklearn.metrics import confusion_matrix,classification_report
    from sklearn.model_selection import train_test_split
       
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

    g=GaussianNB()
    b=BernoulliNB()
    KN=KNeighborsClassifier()
    SVC=SVC() 
    D=DecisionTreeClassifier()
    R=RandomForestClassifier()
    Log=LogisticRegression()
    
    algos=[g,b,KN,SVC,D,R,Log]
    algo_names=['GaussianNB','BernoulliNB','KNeighborsClassifier','SVC','DecisionTreeClassifier','RandomForestClassifier','LogisticRegression']
   
    accuracy_scored=[]

    
    for item in algos:
        item.fit(x_train,y_train)
        item.predict(x_test)
        
        accuracy_scored.append(accuracy_score(y_test,item.predict(x_test)))
       
    result=pd.DataFrame(columns=['accuracy_score'],index=algo_names)
    result['accuracy_score']=accuracy_scored
    return result.sort_values('accuracy_score',ascending=False)

In [32]:
classification(x,y)

                        accuracy_score
LogisticRegression            0.696682
RandomForestClassifier        0.693974
KNeighborsClassifier          0.684496
BernoulliNB                   0.681787
DecisionTreeClassifier        0.670278
SVC                           0.643873
GaussianNB                    0.480704

### Prediction

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
R=RandomForestClassifier()
R.fit(x_train,y_train)

RandomForestClassifier()

In [45]:
y_pred = R.predict(x_test)

In [46]:
accuracy_score(y_test,y_pred)

0.6960054163845633

In [47]:
y_pred

array([0, 0, 2, ..., 1, 0, 1])

In [50]:
Train['fault_severity'].value_counts()

0    4784
1    1871
2     726
Name: fault_severity, dtype: int64

In [53]:
R=RandomForestClassifier()
R.fit(x,y)

RandomForestClassifier()

In [54]:
prediction = R.predict(x)

In [56]:
Train.loc[:,'fault severity prediction'] = prediction
Train.head()

,id,location,fault_severity,severity_type,event_type,log_feature,volume,resource_type,Fault Severity Prediction,fault severity prediction
0,14121,118,1,2,34,312,19,2,1,1
4,9320,91,0,2,34,315,200,2,0,0
8,14394,152,1,2,35,221,1,2,1,1
12,8218,931,1,1,15,80,9,8,1,1
18,14804,120,0,1,34,134,1,2,0,0

In [58]:
output = pd.DataFrame({'ID': Train.id, 'Fault Severity': prediction})
output.shape

(7381, 2)

In [59]:
output.to_csv("service_disruption_prediction.csv",index = False)